<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Browser Not Supported | <%= VUE_APP_TITLE %></title>
  <style>
    .container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-items: center;
    }

    .row {
      margin: auto;
    }
  </style>
  <script>
    // set Google Analytics GTAG4 trackingId
    window.analyticsTrackingId = '<%= VUE_APP_ANALYTICS_TRACK_ID %>';
    // set Google Optimize containerId
    window.optimizeContainerId = '<%= VUE_APP_OPTIMIZE_CONTAINER_ID %>';
    // set HotJar trackingId
    window.hotjarTrackingId = '<%= VUE_APP_HOTJAR_TRACK_ID %>';
    // set an endpoint to log client errors to server
    window.logErrorEndpoint = '<%= VUE_APP_JAVASCRIPT_ERROR_ENDPOINT %>';
  </script>
  <script type="text/javascript" src="/header.js"></script>
</head>
<body>

  <div
    class="container"
  >

    <div
      class="row"
    >

      <h1>Browser Not Supported</h1>
      <p>
        Your browser is unfortunately not supported by this application, for the best experience please use: Edge,
        Firefox, Chrome or Safari.
      </p>
      <p>
        **If you are using one of the above mentioned browsers, please ensure that you update it.
      </p>

    </div>

  </div>

</body>
</html>
